build/stills/
build/*.jpg
__pycache__/
world/build/stills/
world/build/*.jpg
life/build/stills/
life/build/*.jpg
party/build/stills/
party/build/*.jpg
song/build/
lulu/build/stills/
lulu/build/*.jpg
afterlife/build/stills/
afterlife/build/*.jpg
afterlife/build/audio.wav
